* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.focused {
  outline: 2px solid rgb(54, 194, 194);
}

.app-root {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode-selector-form {
  width: 300px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0;
}

.mode-selector-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
}

.mode-selector-item.selected {
  background-color: rgba(85, 226, 85, 0.5);
}

.mode-selector-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.status {
  height: 20px;
  margin-bottom: 30px;
}

.word-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-guess-form {
  max-width: 300px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.word-guess-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.word-display {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.word-display-character {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(50, 50, 50);
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.word-display-character.disabled {
  border-color: rgb(200, 200, 200);
}

.word-display-character.valid {
  color: #fff;
  background-color: rgb(160, 165, 68);
}

.word-display-character.correct {
  color: #fff;
  background-color: rgb(68, 165, 83);
}

.word-display-character.filled {
  color: #fff;
  background-color: rgb(150, 150, 150);
}

@media screen and (max-width: 640px) {
  .app-root {
    justify-content: flex-start;
  }
}
