* {
  box-sizing: "border-box";
}

body {
  background-color: #ddd;
}

.app-root {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mode-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode-selector-form {
  width: 300px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0;
}

.mode-selector-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid #111;
  border-radius: 8px;
  cursor: pointer;
}

.mode-selector-item.focused {
  outline: 1px solid cyan;
}

.mode-selector-item.selected {
  background-color: rgba(85, 226, 85, 0.5);
}

.mode-selector-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.current-word {
  /* display: none; */
}
